.body_layer {
  position: absolute;
  z-index: 0 ;
  }

.eyes_layer{
  position: absolute;
  z-index: 2;
  }

.noses_layer{
    position: absolute;
    z-index:2;
  }

.hair_layer{
    position: absolute;
    z-index:4;
  }

.facial_hair_layer{
    position: absolute;
    z-index:4;
  }

.mouths_layer{
    position: absolute;
    z-index:2;
  }

.eyebrows_layer{
    position: absolute;
    z-index: 2;
    }

.earrings_layer {
position: absolute;
z-index: 3;
}

.glasses_layer {
  position: absolute;
  z-index: 3;
  }

.hats_layer {
  position: absolute;
  z-index: 3;
  }

.neckwear_layer {
    position: absolute;
    z-index: 3;
    }

.clothes_layer1{
position: absolute;
z-index: 1;
}
.clothes_layer2{
position: absolute;
z-index: 1;
}
.clothes_layer3{
position: absolute;
z-index: 1;
}







